* {
    box-sizing: border-box;
}

/* BASIC Page Styling */

 body {
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#cccccc;
 }

 header {
    display: flex;
    flex-direction: column;
    background-color: #120323;
    align-items: center;
    text-align: center;
 }

 .header-container img {
    max-width: 150px;
    height: auto;
    margin-top: 1em;
 }

 header h1 {
    color: #97bf04;
    font-size: 175%;
 }

 nav {
    margin: 0;
    width: 95%;
    margin-bottom: 1em;
}
nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
nav li {
    margin-top: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #97bf04;
    background-color:#d9043d;
}

nav li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

main h2 {
    text-align: center;
    padding: 1em;
 }

 main figure {
    background-color: white;
    padding: 1.5em;
 }

 main img {
    width: 100%;
    border-bottom: 10px solid #97bf04;
 }

 footer {
    background-color: #d9043d;
    color: white;
    padding: 2em;
    text-align: center;
 }

 /* For devices less than 1000px wide */
 @media screen and (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        background-color: #d9043d;
        width: 100%;
        justify-content: center;
        align-text: center;
        padding: 0;
        margin-bottom: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    nav li{
       border-style: none;
       padding-top: 0;
    }
 }