* {
    box-sizing: border-box;
}

/* BASIC Page Styling */

 body {
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    width: 100%;
    background-color:#cccccc;
 }

 header {
    display: flex;
    flex-direction: column;
    background-color: #120323;
    align-items: center;
    text-align: center;
 }

 .header-container {
    margin: 0 auto;
    width: 100%;
 }

 header h1 {
    color: #97bf04;
    font-size: 175%;
    text-align: center;
 }

 .header-container img {
    max-width: 150px;
 }

 nav {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0em 1em 0em
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
nav li {
    display: flex;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #97bf04;
    background-color:#d9043d;
    width: 100%;
}

 h2 {
    text-align: center;
    padding: 1em;
 }

 main img {
    width: 100%;
 }

 footer {
    background-color: #d9043d;
    color: white;
    padding: 2em;
 }