* {
    box-sizing: border-box;
}

/* For devices less than 768 px wide */
@media screen and (max-width: 768px) {
    header {
        background-color:#120323;
    }

    header h1 {
        color:#97bf04;
    }

    nav {
        background-color:#d9043d;
        border: 1px solid #97bf04;
    }

    body {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #cccccc;
        margin: 0 auto;
    }

    main {
        grid-template-columns: 1;
    }

    h2 {
        text-align: center;
        padding: 10px;
    }

    figure img {
        max-width: 100%;
        height: auto;
        border-bottom: 10px solid #97bf04;
        align-items: center;
    }

    figure {
        background-color: white;
        padding: 1em;
    }

    footer {
        background-color: #d9043d;
    }
}