* {
    box-sizing: border-box;
}

/* For devices less than 768 px wide */
/* @media screen and (max-width: 768px) { */
    body, header {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    header {
        background-color:#120323;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .header-container {
        margin: 0 auto;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    header h1 {
        color:#97bf04;
        font-size: 175%;
        text-align: center;
    }

    header img {
        max-width: 150px;
    }

    nav {
        margin: 0 auto;
        width: 95%;
        padding: 10px 0px 10px 0px;
    }
    nav ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    nav li {
        display: flex;
        margin-left: 0 auto;
        margin-right: 0 auto;
        margin-top: 1em;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid #97bf04;
        background-color:#d9043d;
        width: 100%;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    body {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #cccccc;
    }

    main {
        display: grid;
        grid-template-columns: 1;
        max-width: 100%;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        padding: 10px;
    }

    figure img {
        max-width: 100%;
        height: auto;
        border-bottom: 10px solid #97bf04;
        align-items: center;
    }

    #gallery-container figure {
        display: grid;
        background-color: white;
        padding: 1em;
        margin: 5%;
        justify-content: center;
    }

    footer {
        background-color: #d9043d;
        color: white;
        padding: 2em;
    }
/* }*/

/* For devices less than 1000px wide */
@media screen and (min-width: 769px) {
    nav {
        display: flex;
        background-color: #d9043d;
        border-style: none;
        width: 100%;
        margin: 0 auto;
    }
}

/* For devices greater than 1000px wide */
@media screen and (min-width: 1000px) {

}