* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* For devices less than 768 px wide */

.header-container {
    background-color: #120323;
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}

.header-container img {
    width: 100%;
    height: auto;
}

.header-container h1 {
    color: #97bf04;
}

nav li {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #97bf04;
    background-color:#d9043d;
    padding: 5px;
    margin: 10px;
}

body {
    background-color: #cccccc;
    margin: auto;
}

main img {
    border-bottom: 10px solid #97bf04;
    align-items: center;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #d9043d;
}

